.example {
  background-color: $bg-grey;
  margin-top: 40px;
}

.example__wrapper {
  width: 280px;
  margin: 0 auto;
}

.example__section-title {
  font-weight: normal;
  font-size: 36px;
  line-height: 60px;
  color: $font-black;
  margin: 0;
  padding-top: 18px;
}

.example__story {
  @include font-arial;
  width: 270px;
  padding: 24px 0;
  margin: 0;
}

.example__stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.example__stats-table {
  position: relative;
}

.example__stats-value {
  font-size: 24px;
  line-height: 24px;
  color: $font-black;
  text-transform: uppercase;
  border: 1px solid $border-checkbox-grey;
  border-radius: 3px;
  width: 118px;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 17px;
}

.example__stats-title {
  @include font-arial;
  line-height: 12px;
  font-size: 12px;
  font-weight: normal;
  width: 82px;
  display: block;
  background-color: $bg-grey;
  position: absolute;
  top: 48px;
  left: 20px;
}

.example__price {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: $font-black;
  margin: 30px auto 33px auto;
  text-align: center;
}

/* SLIDER BEFORE AFTER */
.example__cat-image {
  display: block;
  margin: 0 auto;

  &--after {
    width: 320px;
    height: 240px;
  }
}

.example__hide {
  display: none;
}

.example__toggles {
  width: 210px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 33px;
  padding-left: 2px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.example__toggle {
  font-size: 16px;
  line-height: 20px;
  color: $font-black;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  font-family: inherit;
  position: relative;

  &--before::after {
    content: "";
    position: absolute;
    width: 35px;
    height: 6px;
    background-color: $main-theme;
    border-radius: 20px;
    top: 8px;
    left: 68px;
  }

  &--after::after {
    content: "";
    position: absolute;
    width: 35px;
    height: 6px;
    background-color: $main-theme;
    border-radius: 20px;
    top: 8px;
    left: -50px;
  }
}

.example__toggle-round {
  content: "";
  position: absolute;
  width: 82px;
  height: 12px;
  border: 1px solid $border-dark-grey;
  border-radius: 20px;
  top: 34px;
  left: 64px;
}

@media (min-width: $tablet-width) {
  .example {
    background-color: $white;
    background-image: linear-gradient(180deg, $white 0%, $white 56%, rgba(234, 234, 234, 0) 56%, rgba(234, 234, 234, 0) 100%),
      linear-gradient(90deg, $bg-grey 0%, $bg-grey 50%, $example-bg 50%, $example-bg 100%);
    margin-top: 26px;
  }

  .example__wrapper {
    width: 708px;
  }

  .example__section-title {
    font-size: 60px;
    line-height: 60px;
    padding-top: 19px;
  }

  .example__story {
    width: 700px;
    font-size: 16px;
    line-height: 24px;
    padding-top: 65px;
    padding-bottom: 49px;
  }

  .example__stats {
    justify-content: flex-end;
  }

  .example__stats-table {
    margin-right: 36px;
  }

  .example__stats-value {
    font-size: 30px;
    line-height: 37px;
    width: 157px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 17px;
  }

  .example__stats-title {
    line-height: 14px;
    font-size: 14px;
    background-color: $white;
    width: auto;
    padding: 0 8px 0 8px;
    top: 65px;

    &--weight {
      left: 24px;
    }

    &--time {
      left: 12px;
    }
  }

  .example__price {
    font-size: 20px;
    line-height: 28px;
    margin: 0;
    margin-left: auto;
    padding: 11px 0;
    width: 192px;
    text-align: right;
  }

  .example__before-after {
    min-height: auto;
  }

  .example__cat-image {
    margin: 80px auto 20px auto;
    width: 677px;
    height: 517px;
  }

  .example__toggle-round {
    width: 428px;
    height: 6px;
    position: relative;
    background-color: $border-dark-grey;
    border-radius: 20px;
    top: 9px;
    left: 0;

    &::before {
      content: "";
      position: absolute;
      background-color: $main-theme;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      top: -1px;
      left: 213px;
      z-index: 2;
    }

    &::after {
      content: "";
      position: absolute;
      background-color: $white;
      width: 32px;
      height: 32px;
      border: 1px solid $border-dark-grey;
      border-radius: 50%;
      box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.15);
      top: -15px;
      left: 200px;
      z-index: 1;
    }

    &:hover::after {
      box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.25);
    }

    &:active::after {
      border: 1px solid $main-theme;
      box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.3);
    }
  }

  .example__toggles {
    width: 572px;
    padding-bottom: 70px;
    padding-top: 0;
    padding-left: 0;
  }

  .example__toggle {
    font-size: 20px;
    padding: 0;
    padding-bottom: 5px;
    border-bottom: 1px dotted $dottet-border;

    &--before::after {
      display: none;
    }

    &--after::after {
      display: none;
    }

    &:hover {
      border-bottom: 1px solid $solid-border-grey;
    }

    &:active {
      border-bottom: 1px solid transparent;
    }
  }
}

@media (min-width: $desktop-width) {
  .example {
    background-color: $white;
    background-image: linear-gradient(180deg, $white 0%, $white 29%, rgba(234, 234, 234, 0) 29%, rgba(234, 234, 234, 0) 100%),
      linear-gradient(90deg, $bg-grey 0%, $bg-grey 72.5%, $example-bg 72.5%, $example-bg 100%);
    margin-top: 0;
    position: relative;
  }

  .example__wrapper {
    width: 1220px;
  }

  .example__section-title {
    padding-top: 58px;
  }

  .example__story {
    width: 437px;
    padding-top: 148px;
    padding-bottom: 65px;
  }

  .example__stats {
    width: 368px;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .example__stats-title {
    background-color: $bg-grey;
  }

  .example__stats-table {
    margin-right: 0;
  }

  .example__price {
    margin: 0;
    padding: 50px 0 70px 0;
    width: auto;
    text-align: left;
  }

  .example__price-numbers {
    padding-left: 58px;
  }

  .example__before-after {
    min-height: auto;
    position: absolute;
    background-color: transparent;
    top: -66px;
    left: 50%;
    margin-left: -36px;
  }

  .example__cat-image {
    margin: 70px auto 35px auto;
  }

  .example__toggles {
    padding: 4px 0 10px 42px;
  }
}
