.extra-products {
  border-top: 3px solid $main-theme;
  margin-top: 42px;
  padding-top: 42px;
}

.extra-products__wrapper {
  width: 280px;
  margin: 0 auto;
  position: relative;
}

.extra-products__title {
  position: absolute;
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  padding: 0 20px;
  color: $font-black;
  background-color: $white;
  top: -77px;
  left: -20px;
}

.extra-products__list {
  @include list-reset;
}

.extra-products__gift {
  margin-top: 40px;
  margin-bottom: 34px;
}

@media (min-width: $tablet-width) {
  .extra-products {
    margin-top: 87px;
  }

  .extra-products__wrapper {
    width: 708px;
    position: relative;
  }

  .extra-products__title {
    font-size: 36px;
    line-height: 36px;
    position: absolute;
    background-color: $white;
    top: -148px;
    left: 0;
    padding: 0 36px;
  }

  .extra-products__list {
    margin-top: 50px;
  }

  .extra-products__gift {
    margin-top: 69px;
    margin-bottom: 75px;
  }
}

@media (min-width: $desktop-width) {
  .extra-products {
    margin-top: 97px;
    margin-bottom: 85px;
  }

  .extra-products__wrapper {
    width: 1220px;
    display: flex;
    justify-content: space-between;
  }

  .extra-products__title {
    top: -99px;
    left: -37px;
  }

  .extra-products__list {
    margin-top: 48px;
  }

  .extra-products__gift {
    margin-top: 48px;
    margin-bottom: 0;
  }
}
