.gift__wrapper {
  width: 280px;
  min-height: 289px;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  position: relative;
}

.gift__conditions {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
}

.gift__image {
  fill: #ffffff;
  margin-left: auto;
  margin-right: auto;
}
