.green-button {
  display: block;
  box-sizing: border-box;
  min-height: 40px;
  padding: 10px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  color: #ffffff;
  text-decoration: none;
  background-color: $main-theme;
  text-align: center;

  &:hover,
  &:focus {
    background-color: #5eaa2f;
  }

  &:active {
    color: #99c684;
  }
}
