.how-works__section-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 60px;
  color: #111111;
}
.how-works__list {
  list-style: none;
  @include font-arial;
}
.how-works__text {
  display: inline-block;
  vertical-align: middle;
}
.how-works__item::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 60px;
  background-color: $main-theme;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.how-works__item--leaf::before {
  background-image: url("../img/advantage-leaf@1x.png");
}
.how-works__item--water::before {
  background-image: url("../img/advantage-powder@1x.png");
}
.how-works__item--cutlery::before {
  background-image: url("../img/advantage-dining@1x.png");
}
.how-works__item--scales::before {
  background-image: url("../img/advantage-clock@1x.png");
}
