.how-works__wrapper {
  width: 280px;
  margin: 0 auto;
  margin-top: 17px;
}

.how-works__section-title {
  font-weight: normal;
  font-size: 36px;
  line-height: 60px;
  color: $font-black;
  margin: 0;
}

.how-works__list {
  @include list-reset;

  margin-top: 28px;

  @include font-arial;
}

.how-works__text {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding-top: 3px;
}

.how-works__item {
  display: flex;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    flex-shrink: 0;
    margin-right: 21px;
    width: 60px;
    height: 60px;
    background-color: $main-theme;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &--leaf::before {
    background-image: url("../img/advantage-leaf@1x.png");
  }

  &--water::before {
    background-image: url("../img/advantage-powder@1x.png");
  }

  &--cutlery::before {
    background-image: url("../img/advantage-dining@1x.png");
  }

  &--scales::before {
    background-image: url("../img/advantage-clock@1x.png");
  }
}

@media (min-width: $tablet-width) {
  .how-works {
    border-bottom: 1px solid $border-grey;
  }

  .how-works__wrapper {
    width: 708px;
    margin: 0 auto;
    margin-top: 45px;
  }

  .how-works__section-title {
    font-size: 60px;
  }

  .how-works__list {
    margin-top: 74px;
    min-height: 600px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
  }

  .how-works__item {
    width: 324px;
    min-height: 285px;
    flex-shrink: 0;
    flex-direction: column;
    margin-bottom: 0;
    position: relative;

    &::before {
      width: 80px;
      height: 80px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 92px;
      left: 117px;
      z-index: -1;
      font-family: "Oswald", "Arial", sans-serif;
      font-size: 281px;
      color: $bg-grey;
    }

    &--leaf::after {
      content: "1";
    }

    &--water::after {
      content: "2";
    }

    &--cutlery::after {
      content: "3";
    }

    &--scales::after {
      content: "4";
    }
  }

  .how-works__text {
    font-size: 16px;
    line-height: 24px;
    width: 247px;
    padding: 32px 0;
  }
}

@media (min-width: $desktop-width) {
  .how-works {
    border-bottom: none;
  }

  .how-works__wrapper {
    width: 1220px;
    margin-top: 71px;
  }

  .how-works__list {
    min-height: auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 17px;
    flex-wrap: wrap;
  }

  .how-works__item {
    width: 245px;
    min-height: 235px;
    flex-shrink: 0;
    flex-direction: column;
    margin-bottom: 0;
  }
}
