.index-header {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: $theme-green;
  background-size: 320px 305px;
}

.index-header__title {
  font-weight: normal;
  color: #ffffff;
  font-size: 36px;
  line-height: 36px;
}

.index-header__slogan {
  color: #ffffff;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}
