.index-header {
  max-width: 450px;
  margin: 0 auto;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
    background-size: 100% auto;
  }
}

.index-header__wrapper {
  width: 280px;
  margin: 0 auto;
}

.index-header__title {
  font-weight: normal;
  color: $white;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding-top: 27px;
  text-align: center;
}

.index-header__slogan {
  color: $white;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin-top: 27px;
  text-align: center;
}

.index-header__image {
  display: block;
  margin: 27px auto 4px auto;
}

@media (min-width: $tablet-width) {
  .index-header {
    background: none;
    width: auto;
    max-width: 100%;
    position: relative;
  }

  .index-header__wrapper {
    width: 528px;
  }

  .index-header__title {
    color: $font-black;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    padding-top: 50px;
  }

  .index-header__slogan {
    font-size: 20px;
    line-height: 20px;
    color: $font-black;
    text-align: left;
    padding-top: 13px;
  }

  .index-header__image {
    margin-top: 0;
    margin-bottom: 2px;
    width: 709px;
    height: 609px;
  }

  .index-header__wrapper .index-header__choose-button {
    position: absolute;
    top: 280px;
    left: 50%;
    margin-left: -264px;
    font-size: 20px;
    line-height: 20px;
    padding: 16px;
    width: 245px;
  }
}

@media (min-width: $desktop-width) {
  .index-header {
    min-height: 696px;
    max-width: 100%;
    background-image: url("../img/index-background-desktop@1x.jpg"), linear-gradient($main-theme 0%, $main-theme 100%);
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: 50vw 100%;
    border: 0.1px solid transparent;
    z-index: 0;

    @media (min-width: 1440px) {
      background-size: 50vw auto;
    }

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg");
    }
  }

  .index-header__wrapper {
    width: 1060px;
    min-height: auto;
    margin: 0 auto;
  }

  .index-header__title {
    font-weight: normal;
    color: $font-black;
    font-size: 60px;
    line-height: 60px;
    width: 420px;
    margin-top: 136px;
    padding-top: 86px;
    text-align: left;
  }

  .index-header__slogan {
    color: $font-black;
    font-size: 20px;
    line-height: 20px;
    margin-top: 27px;
    text-align: left;
  }

  .index-header__image {
    width: 552px;
    height: 499px;
    position: absolute;
    top: 143px;
    left: 50%;
    margin-left: -160px;
  }

  .index-header__wrapper .index-header__choose-button {
    position: static;
    margin: 54px 0 50px 0;
  }
}
