.page-footer {
  background-color: $bg-grey;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
}

.page-footer__logo {
  min-height: 90px;
  width: 130px;
  align-self: center;
}

.page-footer__logo--active:hover,
.page-footer__logo--active:focus {
  opacity: 0.8;
  cursor: pointer;
}

.page-footer__logo--active:active {
  opacity: 0.6;
  cursor: pointer;
}

.page-footer__image {
  padding-top: 35px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    width: 768px;
    margin: 0 auto;
  }

  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    width: 708px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    width: auto;
  }

  .page-footer__wrapper {
    width: 1220px;
    margin: 0 auto;
  }
}
