.page-header__wrapper {
  display: flex;
  flex-direction: column;
}

.page-header__logo-container {
  width: 280px;
  margin: 0 auto;
}

.page-header__image-logo {
  width: 190px;
  height: 60px;
}

.page-header__logo {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .page-header__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 708px;
    min-height: 89px;
    margin: 0 auto;
  }

  .page-header__logo-container {
    margin: 0;
  }

  .page-header__image-logo {
    width: 173px;
    height: 63px;
  }

  .page-header__nav {
    width: 465px;
    min-height: 50px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__wrapper {
    width: 1220px;
    align-items: flex-start;
    margin-top: 47px;
  }

  .page-header__logo-container {
    padding-top: 9px;
  }

  .page-header__image-logo {
    width: 202px;
    height: 59px;
  }

  .index-page .page-header__wrapper {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -610px;
    z-index: 1;
  }

  .page-header__nav {
    width: 478px;
    min-height: 30px;
  }
}
