.show-more {
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}

.show-more__wrapper {
  width: 280px;
  min-height: 208px;
  margin: 0 auto;

  text-align: center;
}

.show-more::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url("../img/icon-plus-mobile.svg");
  opacity: 0.2;
}

.show-more__title {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  font-weight: normal;
}

.show-more__note {
  @include font-arial;
  font-size: 12px;
  line-height: 16px;
}

.show-more__button {
  display: block;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding-top: 13px;
  padding-bottom: 13px;
  color: #444444;
  text-decoration: none;
  background-color: $bg-grey;
  text-align: center;

  &:hover,
  &:focus {
    background-color: #ebebeb;
  }

  &:active {
    color: #c3c3c3;
  }
}

@media (min-width: $tablet-width) {
  .show-more {
    border: 1px solid #ededed;
  }

  .show-more__wrapper {
    width: 324px;
    min-height: 431px;
  }
}

@media (min-width: $desktop-width) {
  .show-more__wrapper {
    width: 245px;
    min-height: 431px;
  }
}
