.socials__list {
  display: flex;
  justify-content: center;

  @include list-reset;
  border-top: 1px solid $border-grey;
  border-bottom: 1px solid $border-grey;
  align-items: center;
  min-height: 62px;
}

.socials__link svg {
  fill: #666666;

  &:hover,
  &:focus {
    fill: $main-theme;
  }

  &:active {
    opacity: 0.3;
  }
}

.socials__link--vk svg {
  width: 22px;
  height: 12px;
}

.socials__link--insta svg {
  width: 16px;
  height: 16px;
}

.socials__link--fb svg {
  width: 10px;
  height: 19px;
}

@media (min-width: $tablet-width) {
  .socials__list {
    border: none;
  }
}
