.socials {
  width: 280px;
  margin: 0 auto;
  border-top: 1px solid $border-grey;
  border-bottom: 1px solid $border-grey;
}

.socials__list {
  display: flex;
  justify-content: center;

  @include list-reset;
  align-items: center;
  min-height: 62px;
}

.socials__link {
  fill: $dark-grey;

  &:hover,
  &:focus {
    fill: $main-theme;
  }

  &:active {
    opacity: 0.3;
  }

  &--vk svg {
    width: 22px;
    height: 12px;
  }

  &--insta {
    margin-right: 35px;
    margin-left: 35px;

    svg {
      width: 16px;
      height: 16px;
    }
  }

  &--fb svg {
    width: 10px;
    height: 19px;
  }
}

@media (min-width: $tablet-width) {
  .socials {
    border: none;
  }

  .socials__list {
    width: 128px;
    margin: 0 auto;
    padding-left: 12px;
  }

  .socials__link {
    &--vk svg {
      width: 30px;
      height: 16px;
    }

    &--insta {
      margin-right: 30px;
      margin-left: 30px;

      svg {
        width: 23px;
        height: 23px;
      }
    }

    &--fb svg {
      width: 14px;
      height: 28px;
    }
  }
}
