$theme-green: #68b738;
$main-theme: $theme-green;
$bg-grey: #f2f2f2;
$border-grey: #e6e6e6;
$font-black: #111111;
$font-grey: #444444;
$error-red: #ff8282;
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
